<img src="/images/Capture.PNG" class="img-responsive" alt=""/>
<%= tinymce :width=> '700',
            :height=> '300',
            :plugins=> [
                "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
        ],

        :toolbar1=> "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
        :toolbar2=> "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
        :toolbar3=> "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",

        :menubar=>'false',
        :toolbar_items_size=> 'small',

        :style_formats=> [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
        ],

        :templates=> [
                {title: 'Test template 1', content: 'Test 1'},
                {title: 'Test template 2', content: 'Test 2'}
        ]%>
<%= form_for(@project,html:{:class=> "ahshah"}) do |f| %>
      <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
          <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
         <% end %>
        </ul>
      </div>
      <% end %>

<div class="container-fluid" id="container1">
  <div class="row form1">
    <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
      <div class="field">
        <label>Project Name</label><br>
        <%= f.text_field :name ,:class=>'k-textbox project_name' %>
      </div>
      <br>
      <div class="field"> 
        <label>Abstract</label><br>
        <%= f.text_area :abstract ,:id=>'abs',:class=>'k-textbox project_abstract',:cols=>'50',:rows=>'4'%>
      </div>
      <br>
      <div class="field">
        <label>Add Thumbnail</label><br>
        <div  class="project_thumbnail btn">
         <span>Choose Image</span>
         <%= f.file_field :image ,:id=>'upload_th',:class=>'k-textbox upload'%>  
       </div>
     </div>
     <br>
     <div class="field">
      <label>Add Documents</label><br>
      <div class="project_document btn">
        <span>Choose File</span>
        <%= f.file_field :pdf ,:id=>'upload_doc',:class=>'k-textbox upload' %>  
      </div>
    </div>
     <br>
     <div class="field"> 
        <label>Video</label><br>
        <%= f.text_field :video ,:id=>'abs',:class=>'k-textbox upload'%>
      </div>
      <br>
    <div class="field"> 
      <label>Summary</label><br>
      <%= f.text_area :description ,:cols=>'50',:rows=>'20',id:'desc',:class=>'tinymce'%>
    </div>
     <br>
     <br>

    <div class="actions">
      <%= f.submit 'Create Project' ,:class=>'btn1 btn-1 btn_createproj'%>
    </div>
  </div>
</div>
</div>


<%end%>