<!DOCTYPE html>
<html>
<head>
	<title>ProjectInventory</title>
	<%= stylesheet_link_tag    'application.css.scss', media: 'all' %>
	<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/css/style.css" rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/create project form.css">
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>


	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript" src="/js/scripts.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
					 		*/

					 		$().UItoTop({ easingType: 'easeOutQuart' });

					 	});
	</script>
</head>

<body>


	<!-- Nav Bar -->
	<nav class="navbar navbar-static">
		<div class="nav_container">
			<a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</a>
			<div class="nav-collapse collase">
				<a href="/"><img src="/images/logoc.png" alt=""/></a>

				<ul class="nav navbar-right navbar-nav">
					<li class="search" style="padding:12px;">
						<form class="form-inline" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div>
							<a href="index.html"><img src="/images/search.png" alt=""/></a>
						</form>
					</li>

					<% if user_signed_in? %>
						<li> <%= link_to current_user.username , current_user %></li>
						<li ><%= link_to 'Edit profile', edit_user_registration_path %></li>
						<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
					<% else %>
						<li><%= link_to "Login", new_user_session_path %></li>
						<li><%= link_to "Sign up", new_user_registration_path %></li>
					<% end %>

				</ul>

			</div>		
		</div>
	</nav><!-- /.navbar -->



	<%= yield %>


	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12" align="center">
				<p>Copyright &copy; ProjectInventory 2014</p>
			</div>
		</div>
		<!-- /.row -->
	</footer>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

</body>
</html>
